.grid{
    
    width:220px;
    height: 440px;
 
    display: flex;
    flex-wrap: wrap;
    border:fuchsia solid 2px;
}

.grid>div{
    height:20px;
    width: 20px;
    border: rgb(126, 159, 160) solid 0.5px;

}



.tetromino{
    background-color: green;
}

.minigrid{
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    border:rgb(126, 159, 160) solid 1px;
    
}

.minigrid>div{
    width: 20px;
    height: 20px;
    
}

.container{
    display: flex;
  flex-direction: row;

}
   
